ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  li {
    border: 1px solid grey;
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgb(135, 9, 220);
  }
}
